body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.container {
    max-width:80%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-box {
    margin: 20px 0;
    padding: 15px;
    background: #e8e8e8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2d762d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background: #115111;
}

/* Skjuler registreringsformularen */
.hidden {
    display: none;
}

/* Styling af "Opret Bruger"-knappen */
.toggle-btn {
    margin-top: 10px;
    background: #0066cc;
    max-width: 50%;
    font-weight: bold;
}

.toggle-btn:hover {
    background: #03417e;
}